@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  background: url("../images/background.jpg");
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: #6395ff;
	background-repeat: no-repeat;
  background-size: 1300px 600px;
}

h1 {
  font-style: italic;
  color: #ff4da0;
}

h2 {
  font-style: none;
  color: #ffb24d;
}

p{
  color: #70ecff;
}

button{
  color:#ff4da0;
	font-family: 'Bungee', cursive;
  font-size: 20px;
 border: 5px solid #ff4da0;
    padding: 7px;
  width:300px;
  background-color: white;
  text-align: center;
}
button:hover, button:focus {
  background-color: #b3fffc;
  color: #00c1d6;
  border-color: rgba(10, 209, 206);

}

.select-box {
  border: 5px dotted #fcff59;
  padding: 7px;
  width:300px;
  background-color: none;
  text-align: center;
	position: absolute;
	top: 420px;
	left: 740px;
  animation:button 10s;
}

a{
  color: #ff4da0;
}

.tooltip {
  position: relative;
  display: inline-block;
  animation:opac 8s;
  /*animation-delay: 6s;*/
}

.tooltip .tooltiptext {
  width: 400px;
  background-color: #ffa8ca;
	font-family: 'Fredoka One', cursive;
	font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: -690px;
  left: 650px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent #ffa8ca transparent transparent;
}

@keyframes mymove {
  from {left: -200px;}
  to {left:150px;}
}


@keyframes opac{
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1}
}

@keyframes button{
  0% {opacity:0;}
  50% {opacity:0;}
  75% {opacity:0;}
  100% {opacity:1}
}
